name: loadtest

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run-loadtest:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run load test
        run: docker compose -f docker-compose.loadtest.yml up --build --abort-on-container-exit --exit-code-from k6
